html, body {
	background-color: #359;
	color: #FFF;
}

#site-title {
	padding-top: 4em;
	padding-bottom: 4em;
}

.qotd {
	margin-right: 4em;
	margin-left: 4em;
	padding: 0.5em;
}
.qotd * {
	background: none;
	color: #2A477F;
}

.btn-default {
	color: #2A477F;
}
.btn-default .active .hover {
	color: #359;
}


.post, .post_title, .post_content {
	background-color: #FFFFFF;
	color: #249;
}
.post_title {
	text-align: center;
	border-bottom: solid 3px #249;
	margin-bottom: 1em;
}
.post_content {

}