
.nav-wrapper .brand-logo,
.nav-wrapper a {
    color: #333;
}

/* Side Navigation Panel */
.side-nav {
    width: 400px;
}

.side-nav p, .side-nav a, .side-nav li {
    font-size: 1.2em;
}

/* Main Body */
#classes .card a {
    height: 2em;
}

main {
    padding-left: 400px;
}

.resource.card {
    height: 300px;
}

.resource.card .card-content {
    width: 100%;
}

.button-collapse i {
    width: 64px;
    height: 64px;
}

@media (max-width : 992px) {
    main {
        padding-left: 0;
    }
}

.full-width {
    width: 100%;
}
