

/* Side Navigation Panel */
.side-nav {
    width: 400px;
}

.side-nav p, .side-nav a, .side-nav li {
    font-size: 1.2em;
}

/* Main Body */
#classes .card a {
    height: 2em;
}

.main {
    padding-left: 400px;
}

.resource.card {
    height: 300px;
}

.resource.card .card-content {
    width: 100%;
}

@media (max-width : 600px) {
    main {
        padding-left: 0;
    }
}
